<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=device-width, initial_scale=1.0">
        <title>
            Create Account
        </title>
    </head>
    <body>
        <h1>
            Create Account
        </h1>
        <form method="POST">
            <label for="account_numebr">
                Account_number: 
            </label><br>
            <input type="text" name="account_number" required><br><br>
            <label for="account_holder">
                Account Holder Name: 
            </label><br>
            <input type="text" name="account_holder" required><br><br>
            <label for="initial_balance">
                Initial Balance: 
            </label><br>
            <input type="number" name="initial_balance" required><br><br>
            <input type="submit" value="Create Account">
        </form>
        <a href="/">
            Back to 
        </a>
    </body>
</html>