<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=device-width, initial_scale=1.0">
        <title>
            Deposit
        </title>
    </head>
    <body>
        <h1>
            Deposit Money
        </h1>
        <form method="POST">
            <label for="account_numebr">
                Account Number: 
            </label><br>
            <input type="text" name="account_number" required><br><br>
            <label for="amount">
                Amount:
            </label><br>
            <input type="number" name="amount" required><br><br>
            <input type="submit" value="Deposit">

        </form>
        <a href="/">
            Back to Home
        </a>
    </body>
</html>